<% page_title("Sign up") %>

<div class="page page-type1">
  <%= image_tag(
      "plum3-152x152.png",
      alt: "Plumhire",
      class: "center-block img-responsive"
    )
  %>
  <h1>
    Sign Up
  </h1>
  <%= form_for(
      @sign_up,
      html: {
        class: "form",
        id: "edit_sign_up_#{@sign_up.uuid}"
      },
      method: :put,
      url: sign_up_password_path(@sign_up)
    ) do |f|
  %>
    <% if @user && @user.errors.any? %>
      <%= render "errors" %>
    <% end %>
    <%= f.hidden_field(
       :id,
       value: @sign_up.uuid
     )
    %>
    <div class="form-group">
      <%= f.label(
          :password,
          class: "placeholder-hidden"
        )
      %>
      <%= f.password_field(
          :password,
          class: "form-control input-lg",
          data: {
            "parsley-required"  => "true",
            "parsley-minlength" => "8"
          },
          placeholder: "Password",
          tabindex: "1"
        )
      %>
    </div>
    <%= f.submit(
        "Submit",
        class: "btn btn-block btn-primary btn-lg",
        tabindex: "2"
      )
    %>
  <% end %>
</div>
