<h3>
  Sign Up
</h3>
<h4>
  Step 1 of 3: Submit email
</h4>
<%= form_for(
    @s,
    method: :put,
    url: sign_up_email_path(@s)
  ) do |f|
%>
  <% if @s.errors.any? %>
    <%= render "errors" %>
  <% end %>
  <%= f.hidden_field(
     :uuid,
     value: @s.uuid
   )
  %>
  <%= f.label(:email) %>
  <%= f.text_field(
      :email,
      data: { required: "change" },
      placeholder: "Your Email",
      tabindex: "1"
    )
  %>
  <%= f.button(
      "Submit",
      tabindex: "2",
      type: "submit"
    )
  %>
<% end %>

