<div class="content page page-sign-up">
   <%= image_tag(
        "plum2-150x150.png",
        alt: "Plumhire",
        class: "center-block img-responsive"
      )
    %>
    <br />
    <br />
  <h1 class="text-center">
    Sign Up
  </h1>
  <%= form_for(
      @s,
      html: {
        class: "form"
      },
      method: :put,
      role: "form",
      url: sign_up_email_path(@s)
    ) do |f|
  %>
    <% if @s.errors.any? %>
      <%= render("errors") %>
    <% end %>
    <%= f.hidden_field(
       :uuid,
       value: @s.uuid
     )
    %>
    <div class="form-group">
      <%= f.label(
          :email,
          class: "placeholder-hidden"
        )
      %>
      <%= f.text_field(
          :email,
          class: "form-control input-lg",
          # data: { required: "change" },
          placeholder: "Email",
          tabindex: "1"
        )
      %>
    </div>
    <div class="form-group">
        <%= f.submit(
          "Submit",
          class: "btn btn-block btn-primary btn-lg",
          tabindex: "2"
        )
      %>

    </div>
  <% end %><!-- form_for -->
</div><!-- content -->


