<h1>
  Sign Up Process
</h1>

<h3>
  3 Steps
</h3>

<ol>
  <li>
    --&#62; Submit email &#60;--
  </li>
  <li>
    Confirm email address
  </li>
  <li>
    Set password
  </li>
</ol>

<%= form_for @s, url: sign_up_email_path(@s), method: :put do |f| %>
  <% if @s.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@s.errors.count, "error") %> prohibited this sign_up from being created:</h2>

      <ul>
      <% @s.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.hidden_field :uuid, value: @s.uuid %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
