<% page_title("Sign up") %>

<div class="page page-type1">
   <%= image_tag(
        "plum1-152x152.png",
        alt: "Plumhire",
        class: "center-block img-responsive"
      )
    %>
  <h1>
    Sign up
  </h1>
  <%= form_for(
      @s,
      html: {
        class: "form"
      },
      method: :put,
      role: "form",
      url: sign_up_email_path(@s)
    ) do |f|
  %>
    <% if @s.errors.any? %>
      <%= render("errors") %>
    <% end %>
    <%= f.hidden_field(
       :uuid,
       value: @s.uuid
     )
    %>
    <div class="form-group">
      <%= f.label(
          :email,
          class: "placeholder-hidden"
        )
      %>
      <%= f.text_field(
          :email,
          class: "form-control input-lg",
          data: { "parsley-required" => "true" },
          placeholder: "Email",
          tabindex: "1"
        )
      %>
    </div><!-- form-group -->
    <div class="form-group">
        <%= f.submit(
          "Submit",
          class: "btn btn-block btn-primary btn-lg",
          tabindex: "2"
        )
      %>
    </div><!-- form-group -->
  <% end %><!-- form_for -->
</div><!-- page -->


