<!DOCTYPE html>
<html>
  <head>
    <title>
      Plumhire
    </title>
    <%= stylesheet_link_tag(
        "application",
        media: "all",
        "data-turbolinks-track" => true
      )
    %>
    <%= stylesheet_link_tag(ENV["webfonts"]
      )
    %>
    <%= javascript_include_tag(
        "application",
        "data-turbolinks-track" => true
      )
    %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      </nav>
    </header>
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </body>
</html>
