<!DOCTYPE html>
<html>
  <head>
    <title>
      Plumhire |
      <%= yield(:title) %>
    </title>
    <%= favicon_link_tag("pic_logo-152x152.png") %>
    <%= stylesheet_link_tag(
        "application",
        media: "all",
        "data-turbolinks-track" => true
      )
    %>
    <%= stylesheet_link_tag(
        ENV["webfonts"]
      )
    %>
    <%= javascript_include_tag(
        "application",
        "data-turbolinks-track" => true
      )
    %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "misc/navbar" %>
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
