<!DOCTYPE html>
<html>
  <head>
    <title>
      Plumhire |
      <%= yield(:title) %>
    </title>
    <%= favicon_link_tag("plum1-152x152.png") %>
    <%= stylesheet_link_tag(
        "application",
        media: "all",
        "data-turbolinks-track" => true
      )
    %>
    <%= stylesheet_link_tag(
        ENV["webfonts"]
      )
    %>
    <%= stylesheet_link_tag(
        "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      )
    %>
    <%= javascript_include_tag(
        "application",
        "data-turbolinks-track" => true
      )
    %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render "layouts/navbar_top" %>
    </header>
    <main>
    </main>
  </body>
</html>
